.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  background: #ba005c;
  margin-bottom: 2rem;
  color: #fff;
}

.link{
  cursor: pointer;
}

ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color:#fff !important;
}

.active-link{
  color: yellow !important;
}

.spacer{
  flex: 1 1 auto;
}
