mat-card{
   margin: auto;
    padding: 0 0 0 40px;
}

mat-form-field, .example-button-row,
textarea {
    width: 80%;
    margin: 10px;
}

mat-spinner{
    margin: 0
}

input[type="file"]{
    visibility: hidden;
}

.image-preview{
    height: 5rem;
    margin: 1rem 0;
}

.image-preview img{
    height: 100%;
}