:host{
    display: block;
    margin-top: 1rem;
}

.post-container{
    margin: 15px 0 !important;
}
.info-text{
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid  #ba005c;
    margin-top: 30px;
    background: #ba005c;
    color: #fff;
}

.mat-accordion>.mat-expansion-panel-spacing:last-child{
    margin-bottom: 20px;
}

.postlist{
    padding: 10px;
}

.postlist:last-child{
    padding-bottom: 40px;
}


mat-spinner{
    margin: 0
}

.post-image{
    width: 100%;
}

.post-image img{
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}