:host{
    display: block;
    margin-top: 1rem;
}

.post-container{
    margin: 15px 0 !important;
}
.info-text{
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #e5e5;
    margin-top: 30px;
}